
<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8"/>
		<title>Node.js Picture Voting Game</title>

		<meta name="viewport" content="width=device-width, initial-scale=1" />

		<link href="http://fonts.googleapis.com/css?family=Open+Sans:300,700" rel="stylesheet" />
		<link href="css/styles.css" rel="stylesheet" />
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
		<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
		<script src="script.js"></script>
	</head>

	<body>

		<nav class="navbar navbar-inverse" role="navigation" style="padding-left:130px;">
			<ul class="nav navbar-nav">
			<!-- set active depending on the page we are on righ tnow-->
  				<li class="active"><a href="/">Sequences<span class="sr-only">(current)</span></a></li>
  				<li><a href="/pages">Pages</a></li>
  				<li><a href="/sounds">Sounds</a></li>
  				<li><a href="/images">Images</a></li>
  				<li><a href="/phrases">Phrases</a></li>
  				<li><a href="/websources">Web Sources</a></li>
  				<li><a href="/shellcmds">Shell Commands</a></li>
  			</ul>
		</nav>
		 
		{{{body}}}
        
	</body>
</html>